      <div class="starter-template">
        <h1>Node Postgres Sample</h1>
        <p class="lead">This is a simple demo app showing Node.js, Express and document-centric use of Postgres.</p>
      </div>

